navbar {
  background-color: transparent !important; /* Set navbar background as transparent */
}


.navbar .navbar-toggler-icon {
  background-color: transparent !important; /* Set hamburger icon color */
}

.navbar-nav {
  text-align: left; /* Align navbar items to the right */
}
#mainNav .navbar-brand,
#mainNav .nav-link {
  color: rgb(8, 7, 7) !important; /* Set text and links to white */
}
