<!-- ABOUT SECTION -->
<section id="about" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold text-uppercase">About</h2>
    <p class="text-center text-muted fst-italic mb-5">Lorem ipsum dolor sit amet consectetur.</p>

    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img src="/about/1.jpg" class="rounded-circle img-fluid" alt="About 1">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2009-2011</h4>
            <h4 class="subheading fw-bold">Our Humble Beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img src="/about/2.jpg" class="rounded-circle img-fluid" alt="About 2">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2011</h4>
            <h4 class="subheading fw-bold">An Agency is Born</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-image">
          <img src="/about/3.jpg" class="rounded-circle img-fluid" alt="About 3">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>December 2015</h4>
            <h4 class="subheading fw-bold">Transition to Full Service</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img src="/about/4.jpg" class="rounded-circle img-fluid" alt="About 4">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>July 2020</h4>
            <h4 class="subheading fw-bold">Phase Two Expansion</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
